/* layout */
:root {
  color-scheme: light dark;

  --max-visible-lead-lines: 5;
  --media-ratio: 16/9;
  --animation-duration: 0.25s;
  --opening-duration: 0.35s;

  /* Category colors */
  --category-color-unknown: #e3e3e3;
  --category-color-auto: #f1edd0;
  --category-color-belfold: #cde9ca;
  --category-color-bulvar: #55453d;
  --category-color-gazdasag: #f38a8a;
  --category-color-informatika: #aeddf9;
  --category-color-kultura: #1c526a;
  --category-color-kulfold: #ec772a;
  --category-color-publicisztika: #83af9b;
  --category-color-sport: #c7f464;
  --category-color-eletmod: #ed95a4;
}

body {
  margin: 0;
  background-color: var(--main-bg-color);
  font-family: 'Roboto Condensed', sans-serif;
}

/* Colors */
@media (prefers-color-scheme: dark) {
  :root {
    --main-bg-color: #292a2d;
    --newsitem-bg-color: #1f1f1f;
    --newsitem-color: #e3e3e3;

    --header-color: #e2e2e2;
    --header-bg-color: #202124;
    --header-bottom-border-color: #3c4043;
    --category-button-bg-color: var(--header-bg-color);
    --category-button-color: #c1c1c1;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --main-bg-color: #f7f8fc;
    --newsitem-bg-color: #fff;
    --newsitem-color: #1f1f1f;

    --header-color: #272727;
    --header-bg-color: #fff;
    --header-bottom-border-color: #dbdce0;
    --category-button-bg-color: var(--header-bg-color);
    --category-button-color: #656565;
  }
}
