/* layout */
:root {
  --max-visible-lead-lines: 5;
  --media-ratio: 16/9;
  --animation-duration: 0.25s;
  --opening-duration: 0.35s;

  /* Topic colors */
  --topic-0: #005940;
  --topic-1: #fc9d9a;
  --topic-2: #fcffe4;
  --topic-3: #8f0d45;
  --topic-4: #fe4365;
  --topic-5: #83a895;
  --topic-6: #f9cdad;
  --topic-7: #c8c8a9;
  --topic-8: #83af9b;
  --topic-9: #c7f464;
  --topic-10: #ed95a4;
}

body {
  margin: 10px;
  background-color: var(--main-bg-color);
}

/* Colors */
@media (prefers-color-scheme: dark) {
  :root {
    --main-bg-color: #292a2d;
    --newsitem-bg-color: #1f1f1f;
    --newsitem-color: #e3e3e3;

    --topic-button-bg-color: #292a2d;
    --topic-button-color: #e3e3e3;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --main-bg-color: #f7f8fc;
    --newsitem-bg-color: #fff;
    --newsitem-color: #1f1f1f;

    --topic-button-bg-color: #f7f8fc;
    --topic-button-color: #1f1f1f;
  }
}